body {
  margin: 0;
}

.layout {
  display: grid;
  grid-template-columns: repeat(3, 33.3vh);
  /*gap: 10px;*/

  >div {
    aspect-ratio: 1/1;
    background-color: rgb(60, 41, 147);
    text-align: center;
    color: white;

    &:nth-child(even) {
      background-color: rgb(94, 4, 4);
      ;
    }
  }
}